body{

	background-image: url("img/coupleP.jpg");

}

.jumbotron { 
    background-color:hsl(180,100%,25%,0.2); /* Rose */
    color: #ffffff; //blanc
    background-image: url("img/coeur.jpg");  /* Image non fonctionnel */
}

#age{

	width: 300px;
}

.container {
	padding-top: 60px;


}